
<% cities=City.order(:name)%>
<% cities.each do |city| %>
<% user_array = []%>
<% users = (User.order(:first_name)).where(city_id: city.id) %>

<div class="card" >
  <div class="card-body">
    City : <a href="#" class="card-link"><%= link_to "#{city.name}", "/city/#{city.id}" %></a><br/>
    <% users.each do |user| %>
    User : <a href="#" class="card-link"><%= link_to "#{user.first_name+" "+user.last_name}", "/user/#{user.id}" %></a><br/>
    <% end %>
  </div>
</div>

<% end %>