
<% users=User.order(:first_name) %>
<% users.each do |user| %>


<div class="card" >
  <div class="card-body">
    User : <a href="#" class="card-link"><%= link_to "#{user.first_name} #{user.last_name}", "/user/#{user.id}" %></a>
  </div>
</div>
<% end %>